%%
%% Information for boot
%

%% -----------------------Nodes to contact --------------------------------

{nodes_to_contact,['1@c100','2@c100']}.

%% -----------------------Nodes to start --------------------------------

{nodes_to_start,[{"c100","1","-setcookie cookie"},
		  {"c100","2","-setcookie cookie"},
		  {"c100","3","-setcookie cookie"},
		  {"c100","4","-setcookie cookie"},
		  {"c100","5","-setcookie cookie"},
		  {"c100","6","-setcookie cookie"},
		  {"c100","7","-setcookie cookie"},
		  {"c100","8","-setcookie cookie"},
		  {"c100","9","-setcookie cookie"},
		  {"c100","controller","-setcookie cookie"},
		  {"c100","sd","-setcookie cookie"},
		  {"c100","dbase","-setcookie cookie"}]}.